.container {
  max-width: 750px;
  margin: 10px auto;
}

.navigation {
  padding:10px;
  background-color: lightgrey;
}

.header {
margin: 50px;
padding: 50px;
  background: white;
}

.content {
border: 5px dotted hotpink;
  padding: 55px;
  margin: 50px;
  backgorund-color: lightgreen;
}

.footer{
  backgorund-color: darkgrey;
}

body {
  background-color: hotpink;
  text-align: center;
  margin:  0;
}
h1 {
  color: green;
}

h2 {
  color: sans-serif;
}

ul {
  background-color: orange;
}

#subheader {
  font-style: lightgrey;
  font-weight: 500
}
